{
  "name": "WebAutomation",
  "label": "Web Automation",
   "description" : "Provides commands for Browser Automation actions.",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "1.1",
  "commands": []
}